.colorPanel {
  display: flex;
  flex-direction: column;

  .panel {
    width: 50rem;
    height: 30rem;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
  }
}
